.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--sectionTitle);
  padding: 6rem 0 2rem 0;
}
.title span {
  font-size: 2rem;
  padding-bottom: 0.4rem;
}
.bottomborder {
  width: 4rem;
  height: 3px;
  background-color: var(--sectionTitle);
}

.about {
  background-color: #ffffff;
  scroll-snap-align: start;
}
